/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}
#box {
    float: left;
    height: 50px;
    clear: none;
    width: auto;
    min-width: 0px;
    background-color: rgb(227, 227, 227);
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: auto;
}
#box1 {
    float: left;
    height: 70%;
    clear: both;
    width: 65.82501579279848%;
    position: absolute;
    top: 15%;
    left: 4.9279848389134555%;
    min-height: 0px;
    bottom: auto;
    background-color: rgb(0, 0, 0);
    background-image:url("img/MB__video_rec.png");
    background-attachment: scroll;
    background-size: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}
#box2 {
    float: left;
    height: 62px;
    clear: both;
    width: auto;
    position: absolute;
    top: auto;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgb(167, 167, 167);
}
